$color-white:#fff;
$color-blue:#373755;
$color-grey:#000000cc;
$color-grey-light:#e3e3e8;
$color-purple:#610aad;
$color-orange: rgba(255, 68, 0, 0.815);
$color-black:#111;
$color-black-light:#111111b5;;
$color-orange-light:#da4110cf;
$color-green-light:#49ff0099;
$color-yellow:rgb(255, 208, 0);
$color-red: rgb(255, 0, 0);


.bg-facebook{
    background:  rgb(59, 89, 152);
  }
  .bg-twitter{
    background: rgb(85, 172, 238);
  }
  .bg-google-plus{
    background: rgb(234, 76, 137);
  }
